html{
    font-family: "Nunito", sans-serif;
    color:white;
}
i{
    font-size:2.0em;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
/* navegação */
nav{
    background-color: #011627;
    display: flex;
    position: fixed;
    z-index: 1;
    height:100px;
    width:100%;
}
nav label{
    position: absolute;
    top:30px;
    right:20px;
}
input[type=checkbox]{
    display: none;
}
ul{
    background-color:#ff9f1c;
    position: absolute;
    top:80px;
    right: 0px;
    padding: 20px;
    display: none;
}
#menu:checked ~ ul{
    display:block;
}
ul li{
    padding:20px;
}
ul li a{
    font-size:1.5em;
    display: block;
    color:#ffff;
}
nav h1{
    margin:30px 20px;
}
/* container */
.container{
    width:100%;
}
.text{
    padding:20px 10px;
    text-align:center;
    top:100px;
    height: 100vh;
}
main{
    background-color: #2ec4b6;
    height: 100vh;
}
.text-sec{
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
main h1{
    font-size:3.0em;
}
main p{
    font-size: 1.3em;
}
#sobre{
    background-color: #e71d36;
    padding: 50px 0px;
}
#sobre img{
    width:70%;
}
#sobre h2{
    position: relative;
    bottom: 20px;
    font-size: 2.0em;
}
#sobre p{
    margin:50px 0px;
    font-size: 1.2em;
    padding:20px 5px;
}
/*  */
#servicos{
    background-color:#2ec4b6;
    color:#011627;
    height:100%;
    padding:50px 70px;
}
/* padrão */
h2{
    font-size:1.5em;
}
.text-info{
    margin:15px 0px;
    font-size:1.2em;
}
/*  */
#servicos .servicos{
    margin:20px 0px;
    width:100%;
    border:1px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.952);
    padding: 30px 10px;
    display:inline-block;
}
.span-ib{
    display:inline-block;
}
.servicos h3{
    font-size: 1.0em;
}
.servicos p{
    font-size:0.8em;
    color:#011627;
    margin:40px 0px;
}
.servicos a{
    background-color:#E71D36;
    padding:10px;
    border-radius:5px;
    color: white;
}
/*  */
#clientes{
    background-color: #e71d36;
    padding: 50px 0px;
    height:100%;
}

.client .img-people{
    width:50%;
    border-radius:10px 400px;
}
.client{
    margin:20px 0px;
    border:1px solid white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.952);   
    padding:30px;
    width:70%;
    color:#011627;
}
.client blockquote::after{
    content: '\201d';
}
.client blockquote::before{
    content: '\201c'
}
/* comunicacao */
.comunicacao{
    background-color: #302f2f;
    text-align: center;
    height: 350px;
}
.comunicacao section{
    padding:20px 0px;
}
.comunicacao .area-cont{
    padding:10px 20px;
    margin-top:10px; 
    display:block;
}
.comunicacao .area-cont label{
    font-size:1.0em;
    font-weight:bold;
}
.area-cont a{
    color: white;
}
/*  */
.sec-rd{
    border-top:1px solid gray;
    margin-top:15px;
}
.sec-rd span{
    cursor: pointer;
    margin-left:20px;
    margin-top:10px;
    display: inline-block;
    
}
.sec-rd div{
    margin-top:40px;
}
.sec-rd div a{
    color:white;
    text-decoration: underline;
    page-break-after: auto;
}
/* footer */
.end-page{
    background-color: #011627;
    text-align: center;
    padding: 25px 0px;
}
footer{
    font-size: 0.7em;
}
/* icon zap */
span.icon-zap{
    background-color: #26D366;
    position: fixed;
    z-index:1;
    right:10px;
    bottom: 50px;
    padding:10px;
    cursor: pointer;
    border-radius: 100%;
}
/* telas maiores */
@media screen and (min-width:700px){
    /* navegação  */
    nav ul{
        background-color:#011627;;
        display:block;
        top:15px;
        right:20px;
        display: flex;
        padding:0px;
    }
    nav ul li{
        padding: 0%;
    }
    nav ul a{
        font-size:1.0em;
        padding:10px;
    }
    nav ul a:hover{
        background-color: #e71d36;
        color:#011627;
        border-radius: 10px 30px;
        font-weight: bold;
    }
    nav i.bars-icon{
        display: none;
    }
    main{
        background-image: url(../img/banner.jpg);
        background-size:cover;
        background-position: center;
    }
    main .text-sec{
        border-radius: 10px 50px;
        padding:10px 20px;
        background-color: rgba(211, 210, 210, 0.753);
        color:black;
        position: relative;
        animation:text-animation 3s 3s 1;
    }
    @keyframes text-animation{
        from{
            left:-500px;
        }
        to{
            left:500px;
        }
    }
    /* sobre */
    #sobre p{
        margin-top:15px;
        font-size:0.9em;
    }
}